@page "/livro/edit"
@using Microsoft.EntityFrameworkCore
@using GestaodeBiblioteca.Models.Entities
@inject IDbContextFactory<GestaodeBiblioteca.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>LivroDB</h2>
<hr />
@if (LivroDB is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="LivroDB" OnValidSubmit="UpdateLivroDB" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="LivroDB.Id" value="@LivroDB.Id" />
                <div class="mb-3">
                    <label for="titulo" class="form-label">Titulo:</label>
                    <InputText id="titulo" @bind-Value="LivroDB.Titulo" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => LivroDB.Titulo" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="autor" class="form-label">Autor:</label>
                    <InputText id="autor" @bind-Value="LivroDB.Autor" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => LivroDB.Autor" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN:</label>
                    <InputText id="isbn" @bind-Value="LivroDB.ISBN" class="form-control" />
                    <ValidationMessage For="() => LivroDB.ISBN" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="disponivel" class="form-label">Disponivel:</label>
                    <InputCheckbox id="disponivel" @bind-Value="LivroDB.Disponivel" class="form-check-input" aria-required="true"/>
                    <ValidationMessage For="() => LivroDB.Disponivel" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datacadastro" class="form-label">DataCadastro:</label>
                    <InputDate id="datacadastro" @bind-Value="LivroDB.DataCadastro" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => LivroDB.DataCadastro" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/livro">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private LivroDB? LivroDB { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        LivroDB ??= await context.Livro.FirstOrDefaultAsync(m => m.Id == Id);

        if (LivroDB is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateLivroDB()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(LivroDB!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!LivroDBExists(LivroDB!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/livro");
    }

    private bool LivroDBExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Livro.Any(e => e.Id == id);
    }
}
